# adding Ecompass Daemon added by Eve_Wen change layout from 8 to 2(SR_a600cg) 20131204
service akmd  /system/bin/akmd09911 -m 2
    class core
    user system
    group system misc input
    oneshot
